@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

body {
    background-image: url("https://raw.githubusercontent.com/piyush-eon/mern-chat-app/master/frontend/src/background.png") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    color: black;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.281);
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}